<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <hr>
    <h3>Review this product</h3>
      <%= form_for [@product, @review] do |f| %>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control'%>
    </p>
    <p>
      <%= f.label :rating %>
        <%= f.select :rating do %>
          <% (1..5).each do |number| -%>
            <%= content_tag(:option, number, value: number) %>
          <% end %>
        <% end %>
    </p>
    <p>
      <%= f.submit "Submit Review" %>
    </p>
  <% end %>
    <hr>


    <% @product.reviews.order('id DESC').each do |review| %>
    <hr>
    <div class="row">
    <span>
      <p>
      <% (1..review.rating).each do %>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <% end %>

      <% (0..4-review.rating).each do %>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <% end %>
    </span><br >
    <span>Description: <%= review.description %></span><br>
    <span>Reviewed by: <%= review.user.first_name %><%= review.user.last_name %></span>
    <aside><%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %></aside>

    <hr>
    </div>


    <% end %>

  </article>

</section>
